# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.venv
venv/
ENV/
env/

# Jupyter Notebooks
.ipynb_checkpoints

# Ambientes virtuales y variables de entorno
.env
.secret

# Power BI temporales (si aplica)
*.tmp